<h1>Javascript APIs</h1>

<ol class="nhsuk-contents-list__list">
    <li class="nhsuk-contents-list__item">
        @Html.ActionLink("Add to Calendar","AddToCalendar","Api", null, new { @class = "nhsuk-contents-list__link" })
    </li>
    <li class="nhsuk-contents-list__item">
        @Html.ActionLink("Document Download","DownloadFromBytes","Api", null, new { @class = "nhsuk-contents-list__link" })
    </li>
    <li class="nhsuk-contents-list__item">
        @Html.ActionLink("Go To Page","GoToPage","Api", null, new { @class = "nhsuk-contents-list__link" })
    </li>
    <li class="nhsuk-contents-list__item">
        @Html.ActionLink("Check isNativeApp & Device","IsNativeApp","Api", null, new { @class = "nhsuk-contents-list__link" })
    </li>
    <li class="nhsuk-contents-list__item">
        @Html.ActionLink("Open In Browser Overlay","OpenBrowserOverlay","Api", null, new { @class = "nhsuk-contents-list__link" })
    </li>
    <li class="nhsuk-contents-list__item">
        @Html.ActionLink("Show/Hide Header and Footer","ShowHideHeaderFooter","Api", null, new { @class = "nhsuk-contents-list__link" })
    </li>
</ol>

<div class="nhsuk-back-link">
    <a class="nhsuk-back-link" asp-action="Index" asp-controller="Home">Back</a>
</div>
